#add-appointment{
    display: flex;
}
#appointment-input{
    width: 150px;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 0.5px;
    background: transparent;
    border: 0px;
    color: #fff;
    padding: 6px 0 4px 0px;
    border-bottom: 2px solid #fff;
}
#appointment-input::-webkit-input-placeholder {
    color: #fff;
}    
#appointment-submit{
    background: transparent;
    border: 0;
    font-size: 29px;
    font-weight: bold;
    color: #fff;
    padding: 0 0 0 0px;
    line-height: 0em;
    margin-left: auto;
}
.current-day{
    font-weight: bold;
    font-size:100px;
    text-align: center;
    letter-spacing: -2.2px;
    line-height: 1em;
    margin: 0px 0;
}
.current-day-2{
    display: block;
    font-weight: 400;
    font-size:18px;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 1em;
}
.current-events{
    margin-bottom: 20px;
    min-height: 111px;
}
.current-events h3{
    font-size: 12px;
    letter-spacing: -0.1px;
}


@media (max-width: 600px ){
    .asside{
        width: 174px;
        margin: 0 0 0 5px;
        flex-grow: 1;
    }
    .current-events{
        min-height: 59px;
    }
}
