<div class="month-year">
    <i class="fa fa-chevron-left" aria-hidden="true" (click)="prev(dateSelected.clone())" ></i>
    <span class="title-month-year" >{{dateSelected.format("MMMM")}}/{{dateSelected.format("YY")}}</span>
    <i class="fa fa-chevron-right" aria-hidden="true" (click)="next(dateSelected.clone())" ></i>
</div>
<table class="calendar">
    <thead>
        <tr>
            <td>SUN</td>
            <td>MON</td>
            <td>TUE</td>
            <td>WED</td>
            <td>THU</td>
            <td>FRI</td>
            <td>SAT</td>
        </tr>
    </thead>
    <tbody > 
        <tr *ngFor="let week of _calendario">
            <td *ngFor="let day of week.days">
                <div [class.other-mount]="!day.isCurrentMonth" [class.has-event]="day.hasAppointment" [class.current]="day.DaySelected" class="calendar__day" (click)="selectDate(day)" >{{day.number}} <span style="display:none">{{day.date}}</span></div>
            </td>
        </tr>
    </tbody>
</table>