<table class="calendar">
    <thead>
        <tr>
            <td>SUN</td>
            <td>MON</td>
            <td>TUE</td>
            <td>WED</td>
            <td>THU</td>
            <td>FRI</td>
            <td>SAT</td>
        </tr>
    </thead>
    <tbody > 
        <tr *ngFor="let week of _calendario">
            <td *ngFor="let day of week.days">
                <div [class.other-mount]="!day.isCurrentMonth" [class.has-event]="day.hasAppointment" [class.current]="day.DaySelected" class="calendar__day" (click)="selectDate(day)" >{{day.number}} <span style="display:none">{{day.date}}</span></div>
            </td>
        </tr>
    </tbody>
</table>