<div class="container calendar-app">
    <div class="box-left">
        <app-appointments [dateSelected]="date" ></app-appointments>
    </div>
    <div class="box-right">
        <div class="month-year">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            December/17
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
        <app-date-table [dateSelected]="date"></app-date-table>
        <!--<p>{{date}}</p>
        <input type="date" name="data" id="" [(ngModel)]="date"  >-->
    </div>
</div>
